* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-container {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* temporary clamping size logic  */
  max-width: 600px;
  max-height: 600px;
  min-width: 600px;
  min-height: 600px;
  /* border: 1em solid rgb(0, 0, 0, 0.6); */
  background-color: red;
}

.row-container {
  display: flex;
  flex: 1;
}

.square {
  border: 1px solid green;
  background-color: blue;
  flex: auto;
}
